<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


		{# Run `composer require symfony/webpack-encore-bundle`
																																										           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<nav
			class="navbar navbar-expand-sm bg-light">

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{path('home')}}">Fou de séries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('news')}}">News</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('series')}}">Liste des séries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('genres')}}">Les genres</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('addSerie')}}">Ajouter une série</a>
				</li>
			</ul>

		</nav>
		{% block body %}{% endblock %}

	</body>
</html>
